@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background: #181820;
    color: #fff;
}

#header {
    width:100%;
    height: 100vh;
    /* background-image: url(images/memoji_bg.png); */
    background-size: cover;
    background-position: cover;
} 

.container {
    padding: 10px 10%;
    width: 90%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #181820;
    overflow: hidden;
    padding: 10px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 70px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/* for the 2 properties below: display a line when you hover over the links */

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    /* background: hsl(121, 100%, 50%); */
    /* background: hsl(300, 23%, 27%); */
    background: #63D471;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
}


.header-text h1 span {
    color: #63D471;
}   

.header-text .par {
    font-size: 16px;
    color: #ababab;
}

/* --------------------- ABOUT ------------------------ */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%
}

.about-col-1 img {
    width: 100%;
    /* border-radius: 15px; */
    border-radius: 15%;
    border: 8px solid #63D471;
    transition: transform 0.3s;
}

.about-col-1 img:hover {
    transform: rotate3d(1, 2, 3, 10deg);
}

.about-col-1 p {
    margin: 12px 30px;
    font-style: italic;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    margin-bottom: 15px;
}

.about-col-2 p:last-child {
    margin-bottom: 0;
}

.about-col-2 p a {
    text-decoration: none;
    color: #63D471;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

/* for the 2 properties below: display a line when you hover over the p tags */
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #63D471;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #63D471;
    font-size: 17px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents a {
    color: #63D471;
    text-decoration: none;
}


/* -----------PORTFOLIO------------ */

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 30px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #63D471);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;  
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}



.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #63D471;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: rgb(255, 255, 255, 0.3);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #63D471;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s, background 0.5s;
}

.btn:hover {
    background: rgba(99, 212, 112, 0.8);
    transform: translateY(-8px);
}

.container p a {
    text-decoration: none;
    color: #63D471;
}

/* ----------------Contact------------------- */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #63D471;
    margin-right: 15px;
    font-size: 25px;;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color:#63D471;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background:rgb(99, 212, 113, 0.8);
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

#msg {
    color: #63D471;
    margin-top: -40px;
    display: block;
}

/* NEW CHANGES */

.header-text a.btn{
    font-size: 13px;
    margin: 20px 0;
}

/* -------------------CSS for mobile screens ----------------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    /* #header {
        background-image: url(images/phone-background.png);
    } */
    .header-text {
        margin-top: 70%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }

    .header-text .par {
        font-size: 13px;
    }
    
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background:#63D471;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}